<!-- HTML WRAPPER(HOW PAGE IS STRUCUTRED) -->
<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>
        <%= title %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <%- style %>
</head>
<body>
   <%- include ('_header'); %>
   <!-- <% if(flash.success && flash.success.length > 0) { %>
        <h5>
            <%= flash.success %>
        </h5>
        <% } %> -->
    
    
   <main id="layout-main">
    <%- body %>
   </main>
<!-- variable part -->
   

    <%- include ('_footer'); %>
    <%- script %>

    <script>
        <% if(flash.success && flash.success.length > 0){ %>
            new Noty({
                theme: 'relax',
                text: '<%= flash.success %>',
                type: 'success',
                layout: 'topRight',
                timeout: 1500
            }).show();
        <% } %>

        <% if(flash.error && flash.error.length > 0){ %>
            new Noty({
                theme: 'relax',
                text: '<%= flash.error %>',
                type: 'error',
                layout: 'topRight',
                timeout: 1500
            }).show();
        <% } %>
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</body>
</html> 