<link rel="stylesheet" href="/css/user_profile.css">

<div id="user-profile">
    <div class="profile-pic">
    <img src="<%= user.avatar %>" alt="<%= user.name %>" width="200px" height="200px">
    </div>

        

        <!-- if user is already authenticated that we have already done in the route section i.e. checkAuthentication -->
        <% if(user.id == profile_user.id){ %>
            <!-- if user matches then show the form -->
            <form action="/users/update/<%= profile_user.id%>" enctype="multipart/form-data" method="post"></div>
                <div class="input"><input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required></div>
                <div class="input"><input type="text" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required></div>
                
                <div class="input"><input type="file" name="avatar" placeholder="Profile Picture">

                <div class="input"><input type="submit" value="update"></div>
            </form>
        <% }else{ %>
            <!-- else show only the profile info  -->
            <p><%= profile_user.name %></p>
            <p><%= profile_user.email %></p>
        <% } %>

</div>
